body {
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
    background: url('../images/hero-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    /* Адаптив
    Тест бг */
}

#hero {
    height: 100vh;
    color: white;
    text-align: center;
}

.skill-card, .project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

#about p {
    color: white;
}
#about h2 {
    color: white;
}

.skill-card:hover, .project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

#skills {
    color: #e0ffff;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.project-card img {
    height: 200px;
    object-fit: cover;
}

.social-links a {
    color: #fff;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #0d6efd;
}